<p>Hello ADMIN!</p>

<br>
<%= link_to 'New Car', new_car_path %>

<table>
  <thead>
  <tr>
    <th>License no</th>
    <th>Manufacturer</th>
    <th>Hourly rate</th>
    <th>Model</th>
    <th>Location</th>
    <th>Style</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
      <tr>
        <td><%= car.license_no %></td>
        <td><%= car.manufacturer %></td>
        <td><%= car.hourly_rate %></td>
        <td><%= car.model %></td>
        <td><%= car.location %></td>
        <td><%= car.style%></td>
        <td><%= car.status%></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<hr>


<% @customers.each do |customer| %>
    <% unless customer.id.equal? current_customer.id %>
    <tr>
      <td><p><%= customer.email %></p></td>
      <td><%= link_to 'Show', customer %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
<% end %>
<br>
<%= link_to 'New Customer', new_customer_path %>