
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <% if current_customer.admin? %>
    <%= f.label :admin %><br>
    <% if current_customer.superadmin? %>
      <%= f.check_box :admin, :checked => true, :disabled => true %><br>
      <%= f.check_box :admin, :checked => true, :style => 'visibility: hidden' %><br>
    <% else %>
      <%= f.check_box :admin %><br>
    <% end %>
  <% end %>

  <% if current_customer.superadmin? %>
      <%= f.label :superadmin %><br>
      <%= f.check_box :superadmin %><br>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
