<p id="notice"><%= notice %></p>

<br>
<h3>Search Cars</h3>

<%= render "cars/search_form" %>
<hr>

<% if current_customer.admin? %>
    <%= render 'customers/admin_index' %>
<% else %>
    <p>Hello USER!</p>

    <% if !@order.nil? && @order.status == "Initiated" %>

      <%=link_to 'Check out', order_checkout_path(:id=>current_customer.id) %> | <%=link_to "Cancel Order", order_cancel_path %>

    <% elsif !@order.nil? && @order.status == "In Progress"%>
      <%=link_to 'Return', order_return_path(:id=>current_customer.id) %>
    <% end %>
    <% if !@rental_charge.nil?%>
      <p>Rental charge for your last trip : $ <%=@rental_charge%></p>
    <%end%>
<% end %>


<%= link_to 'Order History', order_history_path(:cust_id => current_customer.id) %> | <%= link_to 'Provide car recommendation', new_recommendation_path %>
