<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :car_id %>
    <%= order.car.manufacturer %>&nbsp;<%= order.car.model %>
  </div>
  <div class="field">
    <%= form.label :checked_out_at %>
    <%= form.datetime_field :checked_out_at, id: :order_checked_out__at, min: Date.today, max: 6.days.from_now%>

  </div>
  <div class="field">
    <%= form.label :returned_at %>
    <%= form.datetime_field :returned_at, id: :order_returned_at, min: Date.today%>

  </div>
  <% if current_customer.admin? %>
    <div class="field">
      <%= form.label :customer_id %>
      <%= form.text_field :customer_id, id: :order_customer_id %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total_charges %>
    <%= form.text_field :total_charges, id: :order_total_charges %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
