<p id="notice"><%= notice %></p>

<h1>Availability</h1>

<% if @orders.blank? %>
    <h4>Car is available</h4>
<% else%>

    <table class='table table-hover'>
      <thead>
      <tr>
        <th>Car</th>
        <% if current_customer.admin? %>
            <th>Customer</th>
        <% end %>
        <th>Check out time</th>
        <th>Return time</th>
        <th>Status</th>


        <th colspan="4"></th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
          <% if order.status == 'Initiated' or 'In Progress' %>
          <tr>
            <td> <%= order.car.manufacturer %>&nbsp;<%= order.car.model %></td>
            <% if current_customer.admin? %>
                <th><%= order.customer.email %></th>
            <% end %>
            <td><%= order.checked_out_at %></td>
            <td><%= order.returned_at %></td>
            <td><%= order.car.status %></td>
            <% end %>

          </tr>
      <% end %>
      </tbody>
    </table>
    <br>

<% end %>
<%= link_to 'Back', customers_path %>
<br>