<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<% if @orders.blank? %>
    <h4>There are no orders</h4>
<% else%>

    <table class='table table-hover'>
      <thead>
      <tr>
        <th>Car</th>
        <th>Check out time</th>
        <th>Return time</th>
        <th>Status</th>
        <th>Total charges</th>
        <th colspan="4"></th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.car.manufacturer %>&nbsp;<%= order.car.model %></td>
            <td><%= order.checked_out_at %></td>
            <td><%= order.returned_at %></td>
            <td><%= order.status %></td>
            <td><%= order.total_charges %></td>

          </tr>
      <% end %>
      </tbody>
    </table>
    <br>

<% end %>
<%= link_to 'Back', customers_path %>
<br>