<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Reserved at</th>
      <th>Checked out at</th>
      <th>Returned at</th>
      <th>Car</th>
      <th>Customer</th>
      <th>Status</th>
      <th>Total charges</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.reserved_at %></td>
        <td><%= order.checked_out_at %></td>
        <td><%= order.returned_at %></td>
        <td><%= order.car.manufacturer %>&nbsp;<%= order.car.model %></td>
        <td><%= order.customer.email %></td>
        <td><%= order.status %></td>
        <td><%= order.total_charges %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
