<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag cars_path, method: :get do %>
    <%= text_field_tag :location, params[:location], placeholder: "Location" %>
    <%= text_field_tag :manufacturer, params[:manufacturer], placeholder: "Manufacturer" %>
    <%= text_field_tag :model, params[:model] , placeholder:"Model"%>
    <%= select_tag :style, options_for_select(Car::STYLE), prompt: "Style" %>
    <%= select_tag :status, options_for_select(Car::STATUS),include_blank:"Status" %>
    <%= submit_tag "Search", name: nil %>
<% end %>
</br>
<p>NOTE: To list all cars, click "search" without entering any data</p>
