<p id="notice"><%= notice %></p>

<h1>Cars</h1>
<%= render "search_form"%>

<% if @cars.blank? %>
    <h4>There are no cars containing your filter criteria</h4>
<% else%>

    <table class='table table-hover'>
      <thead>
      <tr>
        <th>License no</th>
        <th>Manufacturer</th>
        <th>Hourly rate</th>
        <th>Model</th>
        <th>Location</th>
        <th>Style</th>
        <th>Status</th>
        <th colspan="4"></th>
      </tr>
      </thead>

      <tbody>
      <% @cars.each do |car| %>
          <tr>
            <td><%= car.license_no %></td>
            <td><%= car.manufacturer %></td>
            <td><%= car.hourly_rate %></td>
            <td><%= car.model %></td>
            <td><%= car.location %></td>
            <td><%= car.style%></td>
            <td><%= car.status%></td>
            <td><%= link_to 'Check Availability', order_history_path(:car_id => car,:cust_id => current_customer)%></td>
            <td><%= link_to 'Reserve', new_order_path(:car_id => car,:cust_id => current_customer)%></td>
            <% if current_customer.admin? %>
              <td><%= link_to 'Show', car %></td>
              <td><%= link_to 'Edit', edit_car_path(car) %></td>
              <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<br>

<% if current_customer.admin? %>
  <%= link_to 'New Car', new_car_path %>
<% end %>
<%= link_to 'Back', customers_path%>
